footer {
    clear: both;
    background-color: $main-color;
    p {
        padding: 10px;
        text-align: center;
        color: wheat;
        font-weight: bold;
        font-size: large;
    }
}