nav {
    width: 100%;
    background-color: green;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            padding: 10px;
            color: white;
            &:hover {
                background-color: $main-color;
            }
            transition: 0.6s ease;
            user-select: pointer;
        }
    }
}